In [1]:
import pandas as pd
import zipfile
import seaborn as sns

In [2]:
import matplotlib.pyplot as plt
import numpy as np
import gc
import pyarrow.feather as feather

In [3]:
import dask.dataframe as dd

In [4]:
data_path="../data/data_accuracy/"

In [5]:
calender=pd.read_csv(data_path+"calendar.csv",dtype={'event_name_2': 'object',
       'event_type_2': 'object'})
sales_data=pd.read_csv(data_path+"sell_prices.csv")
sales_train_validation=pd.read_csv(data_path+"sales_train_validation.csv")

In [6]:
sales_train_validation = sales_train_validation.sample(frac=0.3)

In [8]:
gc.collect()

23

In [10]:
def snaps(x):
    snaps=[]
    if(x["snap_CA"]==1):
        snaps.append("snapca")
    elif (x["snap_TX"]==1):
        snaps.append("snaptx")
    elif (x["snap_WI"]==1):
        snaps.append("snapwi")
    else:
        snaps.append("snapno")
    return "-".join(snaps)

In [11]:
calender["snaps"] = calender.apply(lambda x: snaps(x),axis=1)

In [12]:
calender["snaps"].value_counts()

snapno    994
snapca    650
snaptx    260
snapwi     65
Name: snaps, dtype: int64

In [13]:
cols = list(sales_train_validation.loc[:,"d_1":].columns)

In [14]:
st_validation = pd.melt(sales_train_validation,id_vars=["id","item_id","dept_id","store_id","state_id"],value_vars=cols)

In [15]:
st_validation.head()

,id,item_id,dept_id,store_id,state_id,variable,value
0,FOODS_3_012_TX_2_validation,FOODS_3_012,FOODS_3,TX_2,TX,d_1,0
1,HOUSEHOLD_1_007_WI_2_validation,HOUSEHOLD_1_007,HOUSEHOLD_1,WI_2,WI,d_1,0
2,HOUSEHOLD_2_234_CA_1_validation,HOUSEHOLD_2_234,HOUSEHOLD_2,CA_1,CA,d_1,5
3,FOODS_3_208_WI_1_validation,FOODS_3_208,FOODS_3,WI_1,WI,d_1,0
4,HOBBIES_1_089_WI_1_validation,HOBBIES_1_089,HOBBIES_1,WI_1,WI,d_1,4

In [18]:
st_validation = pd.merge(st_validation,calender,left_on="variable",right_on="d")

In [19]:
st_validation = st_validation[st_validation["year"]!=2016]

In [20]:
st_validation.columns

Index(['id', 'item_id', 'dept_id', 'store_id', 'state_id', 'variable', 'value',
       'date', 'wm_yr_wk', 'weekday', 'wday', 'month', 'year', 'd',
       'event_name_1', 'event_type_1', 'event_name_2', 'event_type_2',
       'snap_CA', 'snap_TX', 'snap_WI', 'snaps'],
      dtype='object')

In [21]:
sales_data.head()

  store_id        item_id  wm_yr_wk  sell_price
0     CA_1  HOBBIES_1_001     11325        9.58
1     CA_1  HOBBIES_1_001     11326        9.58
2     CA_1  HOBBIES_1_001     11327        8.26
3     CA_1  HOBBIES_1_001     11328        8.26
4     CA_1  HOBBIES_1_001     11329        8.26

In [22]:
st_validation = pd.merge(st_validation,sales_data,on=["wm_yr_wk","store_id","item_id"])

In [33]:
for col,type1 in zip(st_validation.columns,st_validation.dtypes):
    if(str(type1)=="object"):
        st_validation[col]=st_validation[col].astype("category",copy=False)

In [37]:
feather.write_feather(st_validation,data_path+"agg_sample.feather")